@charset "utf-8";
/* CSS Document */

#app, body {
	background-color:#2a2a2a;
	color: #f0f0f0;
}

h1, h2 {
	font-family: Roboto, Arial, sans-serif;
}

a, a:visited {
	color: lightgray;
	text-decoration: none;
	padding: 3%;
}

a:hover {
	color: lightslategray;
	text-decoration: underline;
}

footer, .category_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.data_select {
	float: left;
	width: 66%;
}

.list_element {
	width: 165px;
	background-color: #39e6a6;
	color: white;
	text-align: center;
	line-height: 32px;
}

.weap_element {
	background-color: coral;
}

.map_element {
	background-color: skyblue;
}

.list_element:hover {
	filter: brightness(85%);
}

.char_icons, .weap_icons, .map_icons {
	height: 32px;
	width: auto;
	float: left;
	align-self: center;
}

.map_icons {
	height: 31px;
	outline: 2px inset;
}

.output_segment {
	vertical-align: middle;
	align-items: flex-end;
	float: right;
	width: 33%;
}

.output_image {
	width: 256px;
	height: 256px;
	border: 10px groove #421f61;
	background-color: #403b45;
	align-content: center;
	object-fit: contain;
}

#oimg_map {
	height: auto;
}

.output_label {
	display: inline-block;
	width: 256px;
	text-align: center;
}