<!doctype html>
<html>
<head>
	<link type="text/css" rel="stylesheet" href="random.css">
</head>
	
<!Vue Framework Import>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	
<div id="app">
	<!Character Segment>
	<div class="category_wrapper">
	<div class="data_select">
	<ol>
		<button class="list_element" onClick="toggle(this)" v-for="char in characters" v-bind:name="char">
		  <input type="checkbox" v-bind:id="char_box" v-bind:name="char" checked="true" class="char_boxes" hidden>
		  <img :name="char" :id="char_icon" class="char_icons">
		{{char}}
		</button>
	</ol>
	<button onClick="generate('char')">Generate Character</button>
	</div>
	
	<div class="output_segment">
	<img id="oimg_char" class="output_image" alt="empty output" hidden>
	<br>
	<label id="olab_char" class="output_label" for="output_image" hidden></label>
	</div>
	</div>
	
	<!Weapon Segment>
	<div class="category_wrapper">
	<div class="data_select">
	<ol>
		<button class="list_element" onClick="toggle(this)" v-for="weap in weapons" v-bind:name="weap">
		  <input type="checkbox" v-bind:id="weap_box" v-bind:name="weap" checked="true" class="weap_boxes" hidden>
		  <img :name="weap" :id="weap_icon" class="weap_icons">
		{{weap}}
		</button>
	</ol>
	<button onClick="generate('weap')">Generate Weapon</button>
	</div>
	
	<div class="output_segment">
	<img id="oimg_weap" class="output_image" alt="empty output" hidden>
	<br>
	<label id="olab_weap" class="output_label" for="output_image" hidden></label>
	</div>
	</div>

	
</div>
	
<script src="common.js"></script>
	
<script src="valorant.vue"></script>
	
</html>
